
@model IEnumerable<StorageProject3.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello </h2>


@foreach (var product in Model)
{
    <h1> @product.Name </h1>
    <h1> @product.Location.Address </h1>


}